# Build outputs
build/
vless-core-linux-amd64
vless-core-darwin-armv7

# Generated third-party artifacts
third_party/*

# Local clutter
.DS_Store
*.swp
*.swo
*.o
scripts/release_notes.sh
scripts/release.sh
scripts/build.sh
